td {
  	border: 2px red solid;
  	padding: 10px;
	}

tr {
 	border: 3px blue solid;
	}

table {
	width: 600px;
	height: 600px;
	border-collapse: collapse;
	empty-cells: show;
	border: 4px green solid;
	text-align: center;
	vertical-align: center;
	}

	